SQLAlchemy
python-dotenv
psycopg2-binary
grpcio==1.83.0
protobuf>=7.35.1
grpcio-tools==1.83.0
pydantic
boto3
botocore 
certifi
bcrypt
PyJWT[crypto]
cryptography
grpcio-reflection
grpcio-health-checking